.about{
    color: #ffffff!important;
}

.container{
    font-family: 'Poiret One', cursive;
  }
  
  .page-heading h1{
    
    font-family: 'Poiret One', cursive;
  }
  
  .page-heading .subheading{
    
    font-family: 'Poiret One', cursive !important;
  }