.post-title  {
    color:#ffffff!important;
    
    font-family: 'Poiret One', cursive !important;
    
}

.post-subtitle  {
    color:#ffffff!important;
    
    font-family: 'Poiret One', cursive !important;
}
.container{
    font-family: 'Poiret One', cursive;
  }
  
  .page-heading h1{
    
    font-family: 'Poiret One', cursive;
  }
  
  .page-heading .subheading{
    
    font-family: 'Poiret One', cursive !important;
  }

  .row{
    font-family: 'Poiret One', cursive !important;
  }